<section id="tasks">
    @if(isTaskAvailable){
        <app-new-task (cancel)="hideTask()" (formData)="addTask($event)"  />
    }
    <header>
        <h2>{{ selectedUser.name }}'s Tasks</h2>
        <menu>
            <button (click)="showTask()">Add Task</button>
        </menu>
    </header>
    <ul>
        @for(task of selectedUserTasks; track task.id){
            <li>
                <app-task (complete)="deleteTask($event)" [task]="task" />
            </li>
        }
    </ul>
</section>